body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1;
}

/* Header */
.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img{
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li{
    margin-left: 20px;
}


/* Footer */
.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Product */

/* box-head */
.box-head{
    margin-bottom: 30px;
}

.box-head .inner-title{
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: rgb(0, 89, 145);
}

.toolbar{
    text-decoration: none;
    color: palevioletred;
}

.toolbar:hover {
    color: orangered;
}

/* .tour-detail */
.tour-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tour-detail .container {
    max-width: 900px;
    margin: auto;
}

.tour-detail .inner-images img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mySwiper .swiper-slide {
    width: 100px; 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.tour-detail .inner-title{
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #d32f2f;
}

.tour-detail .inner-price-special {
    color: #d32f2f;
    font-weight: 700;
    font-size: 24px;
}

.tour-detail .inner-price {
    color: #757575;
    font-size: 20px;
    text-decoration: line-through;
    margin-bottom: 5px;
}


.tour-detail.inner-percent{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #d32f2f;
    padding: 5px 8px;
    border-radius: 8px;
    display: inline-block;
}

/* .tour-detail.inner-percent span{
    color: #fff;
    background: red;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
} */

.tour-detail .inner-barcode,
.tour-detail .inner-time-start,
.tour-detail .inner-stock {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* .tour-detail.inner-stock span{
    color: #fff;
    background: green;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
} */

.tour-detail form {
    margin-top: 15px;
}

.tour-detail form input {
    width: 100%;
    text-align: center;
}

.tour-detail form button {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tour-detail form button:hover {
    background-color: #218838;
}

.tour-detail .inner-information {
    margin-top: 30px;
    border: 1px solid #b5b5b5;
    padding: 10px;
    border-radius: 5px;
}

.tour-detail .inner-information .inner-label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #c12026;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
}

.tour-detail .inner-information .inner-text {
    white-space: pre-line;
}

.tour-detail .inner-information .inner-text img {
    max-width: 100%;
    height: auto;
}

/* Alert */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}
    
[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert]{
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}