extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3 
        .row 
            .col-12 
                +box-head(pageTitle)

        .row 
            each category in categories
                .col-6.mb-3  
                    .card
                        img(src=category.image, alt=category.title)
                        .card-body  
                            h5.card-title #{category.title}
                            a(href=`/categories/${category.slug}` class="btn btn-primary") Xem chi tiết